pytest>=8,<10
eth-utils==6.0.0
# pywin32 does not install properly on free-threaded python builds on Windows,
# so we skip tests invoking web3.py for Python3.13+ on Windows.
web3==7.14.1; platform_system != "Windows" or python_version < "3.13"
